.hero {
    
    border-radius: 30px;
   
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow:blueviolet;
  animation: fadeIn 1s ease;
}

.hero-text{
    max-width: 100%;
    text-align: left;;
  
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    
}

.hero p {
    font-size: 24px;
    color: inherit;
    width: 100%;
    text-align: left;
}


.btn {
   
    font-size: 20px;
   
}

.btn:hover {
    background-color: #deeaf8;
}



@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }

  .hero-container {
    flex-direction: column;
    gap: 20px;
  }

  .hero-img {
    width: 150px;
    height: 150px;
  }

  .hero-text h1 {
    font-size: 32px;
  }

  .hero-text p {
    font-size: 18px;
  }

  .btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}